.status-filter {
  font-size: .8rem;
  display: flex;
  justify-content: center;
}

.status-filter .btn{
  flex: 1;
  padding: .5em;
  text-align: center;
  color:white;
  background-color: var(--color-main-2);
}

.status-filter .btn:hover{
  background-color: var(--color-main-2-dark);
  cursor: pointer;
}

.btn + .btn {
  border-left: 2px solid white;
}

@media (min-width: 30em){
  .status-filter .btn{
    width: 4em;
    line-height: 2em;
  }
}