.done {
  text-decoration-line: line-through;
}

.task-done {
  background-color: rgb(241, 241, 241);
}

.red-text {
  color: var(--color-main-2);
  font-weight: bold;
}

.task {
  font-size: 1.2rem;
  display: flex;
  padding: .5em;
}

.task-text {
  flex-grow: 1;
  word-break: break-all;
}
.task .btn {
  margin: auto;
  padding: .3em;
  border-radius: .5em;
  transition-property: background-color color;
  transition-duration: .5s;
}
.task .btn:hover {
  cursor: pointer;
}

.task .delete {
  color: var(--color-main-2);
}

.task .delete:hover {
  color: white;
  background-color: var(--color-main-2);
}

.task .important {
  color: var(--color-main-3);
}

.task .important:hover {
  color: white;
  background-color: var(--color-main-3);
}

