.addPanel {
  display: flex;
}

.addButton {
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: .8em;
  color: var(--color-main-3);
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0 .5em .5em 0;
}

.addPanel input {
  height: 2.5rem;
}

.addButton i{
  padding: .5em;
}

.addButton:hover {
  color: white;
  background-color: rgb(172, 172, 172);
  cursor: pointer;
}