.edit-task-window {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.288);
}

.edit-task-window-body {
  position: relative;
  top: 10%;
  left: 10%;

  padding: 1em;

  width: 80%;
  background-color: white;
  border-radius: 1em;
}

.cancel-task {
  position: absolute;
  right: 0.7em;
  top: 0.2em;
  color: var(--color-main-2);
}

.cancel-task:hover {
  color: white;
  background-color: var(--color-main-2);
}