.searchBar {
  display: flex;
  flex-flow: column;

  padding: .5em;
}

@media (min-width: 30em){
  .searchBar {
    flex-flow: row;
  }
}

@media (min-width:48em){
  .searchBar{
    width: 768px;
    margin: 1em auto;
  }
}